*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --imagem1: url('./img/burguerMenu.svg');
    --imagem2: url('./img/xAoClicar.svg');
}

a {
    text-decoration: none;
}

ul,ol,li{
    list-style: none;
}

html,body, input,button{
    scroll-behavior: smooth;
    font-family: "Inknut Antiqua";
}

body{
    background-color: black;
}

header{
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: #8A0707;
    padding: 25px;
}

#navegacao {
    width: 45%;
}

#navegacao nav ul{
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;
}

#navegacao nav a{
    color: #FFD700;
    font-weight: bold;
}

#containerNav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#menuBurguer{
    background-color: #8A0707;
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 120px;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    overflow: scroll;
    cursor: pointer;
}

#menuBurguer nav {
    width: 100%;
    height: 100%;
}

#menuBurguer nav ul {
    gap: 15px;
}


.li_menu_burguer {
    width: 100%;
    height: 50px;
    color: #FFD700;
    border-top: 2px solid white;
    font-family: "Inknut Antiqua";
    background-color: #8A0707;
    cursor: pointer;
}

#barraDePesquisa{
    width: 30%;
}

#pesquisar{
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 20px;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #FFD700;
}

::placeholder{
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

#pesquisar:focus::placeholder{
    color: transparent;
}


#grupao{
    margin-top: 40px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titulo h1 {
    color: #FFD700;
    font-size: 54px;
}

.containerCards{
    display: columns;
    columns: 2;
    padding: 25px;
    gap: 130px;
}

.card {
    width: 575px;
    height: 314px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    margin-bottom: 15px;
}

.grupoCard{
    width: 100%;
    height: 100%;
    display: flex;
}

.grupoImagem{
    width: 50%;
}

.imagem{
    width: 234px;
    height: 291px;
    background-image: url('./img/tanjiro.webp');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.textos {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textos h1{
    font-size: 24px;
    color: #FFD700;
}

.textos p{
    font-size: 13px;
    color: white;
}

.textos button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 45px;
    border: 2px solid #FFD700;
    border-radius: 15px;
    background-color: #FF0000;
    color: #FFD700;
    font-weight: bold;
    cursor: pointer;
}

/* STYLE DA PAGINA DE PERSONAGEM UNICO */

.containerGrupo{
    margin-top: 40px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardPersonagem{
    width: 1232px;
    height: 650px;
    display: flex;
    align-items: center;
}

.grupoImagemCard{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard {
    width: 327px;
    height: 467px;
    background-image: url('./img/muzan.webp');
    background-position: center;
    background-size: 135%;
    background-repeat: no-repeat;
    border-radius: 62px;
    box-shadow: 0px 5px  10px #FF0000;
}

.caixaDeTextos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.caixaDeTextos h1{
    color: #FFD700;
    height: 100px;
    font-size: 54px;
    
}

.caixaDeTextos p{
    font-size: 13px;
    color: white;
}

.topicos {
    display: flex;
    width: 100%;
    height: 100px;
    
}

.topicosDestacados1{
    display: flex;
    flex-direction: column;
    width: 50%;
   
}

.topicosDestacados2{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.topicosDestacados1 .textoEstilizado{
    color: #FFD700;
    font-size: 15px;
   
}

.topicosDestacados2 .textoEstilizado{
    color: #FFD700;
    font-size: 15px;
}

.textosTopicos1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 15px;
    
}

.textosTopicos1 p {
    font-size: 15px;
}

.textosTopicos2{
    align-items: center;
    display: flex;
    width: 100%;
    height: 50%;
    gap: 15px;
    
}

.textosTopicos2 p {
    font-size: 15px;
}

.frase {
    width: 100%;
    border: 3px solid #FFD700;
    background-color: #8A0707;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}






